h1{
    font-size: 120px;
    margin-top: 25px;
}

.c-form{
    display: flex;
    flex-direction: column;
    max-width: 20%;
   

    &__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.send{
    border: 2px solid rgb(88, 223, 88);
    background-color: black;
    color: rgb(88, 223, 88);
    font-family: 'Shlop';
    border-radius: 7px;
    max-width: 4rem;
   
}

.send:hover{
    border-color: rgb(116, 26, 101) ;
    color: rgb(116, 26, 101) ;
    cursor: url(../../../assets/pistol.png), auto;
}