<br>
<br>
<h1>Contact</h1>
<br>
<br>
<br>
<div>
<form class="c-form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <div class="c-form__div">
        <label for="name">name</label>
        
        <input id="name" type="text" formControlName="name">
        <!-- el formControlName = a el 'name' del constructro, que puede ser cualquier propiedad que quieras. formControLName siempre es igual , es una palabra reservada-->
        <span *ngIf="submitted && contactForm.controls.name">Name is required and min length is 4</span>
    </div>

    <div class="c-form__div">
        <label for="email">email</label>
        
        <input id="email" type="email" formControlName="email">
        <span *ngIf="submitted && contactForm.controls.email">Email is required</span>
    </div>

    <div class="c-form__div">
        <label for="message">message</label>
        
        <textarea id="message" type="text" formControlName="message"></textarea>
        <span *ngIf="submitted && contactForm.controls.message">Message is required and min length is 10</span>
    </div>

    <div class="c-form__div">
        <label for="checkbox">Are you ready tu submit ?</label>
        
        <input id="checkbox" type="checkbox" formControlName="checkbox">
        <span *ngIf="submitted && contactForm.controls.name">Check is required</span>
    </div>

    <div class="c-form__div">
        <input class="send" type="submit" value="Enviar">
    </div>

</form>
</div>
