h1{
    font-size: 135px;
    background:
    -webkit-linear-gradient( rgb(65, 170, 65) , #682992  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-home{
    margin: 45px 0 ;
}