<div class="c-detail">
    <h1 class="c-detail__h1">{{character.name}}</h1>

    <div class="c-detail__div">
        <img class="c-detail__img" src="{{character.image}}" alt="{{character.name}}">
    </div>

    <ul class="c-detail__ul">
        <li class="c-detail__li">Species: {{character.species}}</li>
        <li class="c-detail__li">Gender: {{character.gender}}</li>
        <li class="c-detail__li">Location: {{character.location.name}}</li>
        <li class="c-detail__li">Status: {{character.status}}</li>
    </ul>
</div>
