.c-detail{

    &__h1{
    font-size: 120px;
    margin-top: 35px;
    margin-bottom: 10px;
    background: 
    -webkit-linear-gradient(rgb(65, 170, 65) , #682992);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

    &__img{
        border: 4px solid rgb(65, 170, 65);
        border-radius:35%;
        width: 23%;
    }

    &__ul{
        margin-top: 35px;
    }

    &__li{
        list-style: none;
        font-size: 30px;
        margin: 8px 0;
        text-shadow: 1px 2px #682992;
    }
}