
h1{
    font-size: 120px;
    margin-top: 25px;
}

.c-character{

    &__label{
        cursor: url(../../../assets/rik_i_morti_cursor.png), auto;
    }

    &__btn{
        border: 2px solid rgb(88, 223, 88);
        background-color: black;
        color: rgb(88, 223, 88);
        font-family: 'Shlop';
        border-radius: 7px;
    }

    &__btn:hover{
        border-color: #682992 ;
        color: #682992 ;
        cursor: url(../../../assets/pistol.png), auto;
    }

    &__div2{
        margin-top: 35px;
    }
    &__div3{
        display:block;

    }

    &__p{
        font-size: 45px;
        margin: 0px 23px;
        display: -webkit-inline-box;
    }

    &__next:hover{
        cursor: url(../../../assets/pistol.png), auto;
    }
}
#find{
    border-radius: 12px;
    /* font-family: 'Shlop'; */
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }