 <h1>Characters</h1>
<div class="c-character">
    <div class="c-character__div1">
        <label class="c-character__label" for="find"> Find character: </label>
        <input id="find" type="text" [(ngModel)]="character">
        <button class="c-character__btn" (click)="findCharacter(character, actualPage)">Buscar</button>
    </div>

    <div  class="c-character__div2">
    <app-gallery [list] = "characters" ></app-gallery>

<div class="c-character__div3">
    <img class="c-character__next" src="../../../assets/left-arrow.png" (click)="findCharacter(character, actualPage - 1)">
    <p class="c-character__p">{{actualPage}}</p>
    <img class="c-character__next" src="../../../assets/right-arrow.png" (click)="findCharacter(character, actualPage + 1)">
</div>