<div class="c-gallery">
    <div class="row">
        <div  class="col-6 col-sm-4 col-lg-3" *ngFor="let item of list">
            <div routerLink="/characters/{{item.id}}" class="c-gallery__div">
                <img class="c-gallery__img" src="{{item.image ? item.image: './assets/tierra.png'}}" alt="">
                <h3 class="c-gallery__h3" >{{item.name | priorityName: 'Rick'}}</h3>
            </div>
                
            <button class="c-gallery__btn" (click) = 'addFavouriteItem(item)'>Add to favourites</button>
            
        </div>
    </div>
</div>