.c-gallery{

    &__img{
        border: 4px solid rgb(65, 170, 65);
        border-radius:25%;
    }

    &__img:hover{
        border-color:#682992 ;
        border: 4px solid ;
        border-radius: 25%;
        cursor: url(../../../../assets/pistol.png),auto;
    }
  
    &__h3{
        font-size: 25px;
    }

    &__div:hover{
        
        color: #682992;
        cursor: url(../../../../assets/pistol.png),auto;
        text-shadow: 1px 2px rgb(88, 223, 88);
    }

    &__btn{
        border: 2px solid rgb(88, 223, 88);
        background-color: black;
        color: rgb(88, 223, 88);
        font-family: 'Shlop';
        border-radius: 7px;
        margin-bottom: 15px;
    }

    &__btn:hover{
        border-color: #682992 ;
        color: #682992 ;
        cursor: url(../../../../assets/pistol.png), auto;
        background: -webkit-linear-gradient(#682992,rgb(88, 223, 88),);
        -webkit-text-fill-color: black;
    }
}

