@import '~bootstrap/scss/bootstrap-grid';

@font-face{
    font-family: "Shlop";
    src: url('./assets/shlop.ttf');
}

html{
    font-family: "Shlop";
    color: rgb(88, 223, 88);
    text-align: center;
    background: rgb(0, 0, 0);
    cursor: url(./assets/rik_i_morti_cursor.png), auto;
    background-image: url(./assets/galaxy.png);
}

h1{
    font-size: 120px;
    margin-top: 35px;
    margin-bottom: 10px;
    background: 
    -webkit-linear-gradient(rgb(65, 170, 65) , #682992);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img{
    max-width: 100%;
}