.c-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-nav__link{
    padding: 4px 10px;
   /*  border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: white; */
    text-decoration: none;
    color: rgb(64, 163, 64);
    font-size: 30px;
    cursor: url(../../../../assets/portal.png),auto;
}
.c-nav__link--active{
   /*  border: 3px solid rgb(65, 170, 65) ;
    border-radius: 15px;
    background-color: rgb(128, 127, 126); */
    color: white;
    text-shadow: 2px 4px #682992;
}

.c-nav__link:hover{
    text-shadow: 2px 4px #682992;
}

