<nav class="c-nav">
    <a class="c-nav__link" routerLink="" routerLinkActive="c-nav__link--active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="c-nav__link" routerLink="characters" routerLinkActive="c-nav__link--active">Characters</a>
    <a class="c-nav__link" routerLink="locations" routerLinkActive="c-nav__link--active">Locations</a>
    <a class="c-nav__link" routerLink="favourites" routerLinkActive="c-nav__link--active">Favourites</a>
    <a class="c-nav__link" routerLink="contact" routerLinkActive="c-nav__link--active">Contact</a>
</nav>